* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
}
.section {
    padding: 80px;
}
.hero {
    position: relative;
    background: url('../images/worship.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    z-index: -1;
}
.hero::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: -1;
}
.hero-content {
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 2;
}
